<!DOCTYPE html>
<div ng-include="'web/features/intelligence/detail/h5topview.html'"></div>
<div class="middiv">
    <div class="PersonalCenter row">
        <div class="col-xs-1"></div>
        <div class="col-xs-8 PersonalInfor">
            <div style="margin-top: 7px;">
                <div class="row">
                    <div class="col-xs-1 photograph" style="margin-left: 10px;">
                        <!-- 图片尺寸 95*140 -->
                        <div>
                            <img src="assets/images/nonamepic.jpg" class="imgSize" id="pro_img">
                        </div>
                        <div class="uploadBtnDiv" align="center">
                            <div class="uploadBack"></div>
                            <input type="file" id="headPortrait" name="headPortrait" class="uploadInputsty"/>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group has-success margintop30px">
                <label>真实姓名</label>
                <input type="text" class="form-control input-lg" placeholder="请输入真实姓名" ng-model="personal.realname"/>
            </div>
            <div class="form-group has-success margintop30px">
                <label>联系电话</label>
                <input type="text" class="form-control input-lg" placeholder="请输入联系电话" ng-model="personal.telphone"/>
            </div>
            <div class="form-group has-success">
                <label>工作职位</label>
                <input type="text" class="form-control input-lg" placeholder="请输入目前就业状态" ng-model="personal.occupation">
            </div>
            <div class="form-group has-success">
                <label>性别</label>
                <div ng-if="personal.gender == '1'">
                    <label class="radio-inline">
                        <input type="radio" checked="checked" ng-value="1" ng-model="personal.gender"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-value="0" ng-model="personal.gender"> 女
                    </label>
                </div>
                <div ng-if="personal.gender == '0'">
                    <label class="radio-inline">
                        <input type="radio" ng-value="1" ng-model="personal.gender"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" checked="checked" ng-value="0" ng-model="personal.gender"> 女
                    </label>
                </div>
            </div>
            <div class="form-group has-success">
                <label>个人简介</label>
                <input type="text" class="form-control input-lg" placeholder="请简要描述自己" ng-model="personal.personalDesc">
            </div>
            <div class="form-group has-success">
                <button class="btn btn-lg btn-primary submitbutton150" type="button" ng-click="modifyPersonInfor()">
                    修改个人信息
                </button>
            </div>
        </div>
        <!-- 个人资料 -->
        <div class="col-xs-2">
            <div class="form-group has-success margintop30px" align="right">
                <button class="btn btn-lg btn-primary submitbutton150" type="button" ng-click="toModifyPsw()">
                    修改密码
                </button>
            </div>
            <hr style="background-color:#00B38A;height:2px;"/>
            <div class="form-group has-success margintop30px">
                <a href="{{personal.accessResume}}" target="_blank" style="color: #00B38A; cursor: pointer;">查看简历</a>
            </div>
            <div class="form-group has-success margintop30px">
                <label>简历名称</label>
                <input type="text" class="form-control input-lg" placeholder="请输入简历名称" ng-model="personal.fileName">
            </div>
            <form id="attachmentForm" enctype="multipart/form-data" method="post">
                <div class="form-group has-success margintop30px">
                    <label>上传简历附件</label>
                    <input type="file" id="uploadfile" name="uploadfile" class="form-control input-lg">
                </div>
                <div class="form-group has-success margintop30px" align="right" ng-if="canUpload">
                    <button class="btn btn-lg btn-primary submitbutton150" type="button" ng-click="uploadAttachment()">
                        修改简历
                    </button>
                </div>
            </form>

        </div>
        <!-- 简历附件，简历名称 -->
        <div class="col-xs-1"></div>
    </div>
</div>
<div ng-include="'web/features/intelligence/detail/h5bottomview.html'"></div>